p{
	margin:0;
	padding:0;
}

body{
	font-family:Helvetica, Arial, sans-serif;
	max-width:700px;
}

h1{
	font-size:1.2em;
}

h4{
	margin-top:10px;
	margin-bottom:5px;
}

h5, h6{
	margin-top:5px;
	margin-bottom:10px;
}


h5{
	color: #888;
}

em{
	color: #bbb;
}

ul{
	padding-left:15px;
}